@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Lora');
html, body {
    background-color: #FDF8DB;
}

h1 {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: #2B4B40;
}

h2 {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 12px;
    color: #2B4B40;
}

p {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 12px;
    color: #2B4B40;
}

a {
    color: #2B4B40;
}

/* image */
img {
    float: left;
    height: 100%;
}

/* input box */
input {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 10px 10px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border: 1px solid #cecece;
    background: #F3F5F6;
    color:#4c4c4c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    max-width: 600px;
}

/* buttons */
button {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 10px;
    background-color: #2B4B40;
    padding: 10px 20px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    width: 100%;
    color: #fff;
}

button:hover {
    background: #92A742;
    font-weight: 300;
}

.click-here {
    background-color: #2B4B40;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
}

.click-here:hover {
    background-color: #92A742;
    color: #fff;
}

/* main container */
.container {
    position: absolute;
    width: 600px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* text container */
.text-container {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 297px;
}

.title-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 60px;
    height: 70px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 2px -2px #BCD0CE;
}

.p1-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    height: 40px;
    width: 200px;
    text-align: center;
}

.p2-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 220px;
    height: 40px;
    width: 200px;
    text-align: center;
}

/* captcha */
.captcha {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #2B4B40;
    margin-top: 20px;
    font-size: 13px;
    float: left;
}

.captcha-answer {
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    width: 60%;
}